@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eee;
    font-size: 16px;
}

#root {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
#timetable {
    display: block;
    flex-grow: 1;

    margin: 1rem;
    padding: 0.5rem;

    border-radius: 1rem;
    background-color: #4C3A37;
}

#timetable ul {
    list-style: none;
}

#timetable ul li {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0.5em 0;
    padding: 0.5em;

    height: 9.5rem;
    width: 100%;

    background-color: #fff;
    
    border-style: solid;
    border-width: 0.2rem;
    border-color: #fff;
    border-radius: 1rem;

    transition: 0.2s;
    overflow-y: hidden;
    cursor: pointer;

}

#timetable ul li.active {
    height: 14.5rem;
}

#timetable ul li .time {
    padding: 0.5rem;

    text-align: center;
    font-size: 1.3rem;
    min-width: 8em;
}

#timetable ul li .discipline {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    
    font-size: 1.3rem;

    line-height: 2.5rem;
    
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #1e1e1e;
    text-align: center;
    
    white-space: nowrap;
}

#timetable ul li .employee {
    font-size: 1.2rem;
    font-style: italic;
    line-height: 2.5rem;

}

#timetable ul li .type {
    font-size: 1.2rem;
    line-height: 2.5rem;
}

#timetable ul li .cabinet {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2.5rem;
}

#timetable h3 {
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 900px) {
    #timetable {
        width: 100%;
    }
}